:root {
    --primary-color: #3498db;
    --background-color: #f4f4f4;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }